<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.cadcorp.com/images/uploads/product-images/cadcorp_developer_200x200.png</string>
	<string>http://avada-media.com.ua/wp-content/uploads/2016/02/ios.png</string>
	<string>http://photos4.meetupstatic.com/photos/event/e/8/0/0/global_353579392.jpeg</string>
	<string>http://www.ittraining.vn/wp-content/uploads/2016/01/IOS.jpg</string>
	<string>https://d13yacurqjgara.cloudfront.net/users/645018/screenshots/1775248/dribbble-careers-ios.png</string>
</array>
</plist>
